/* HE DEJADO 2 ESPACIOS ENTRE "SECCIONES" PARA HACERLO MAS LEGIBLE */
/* BODY */
body {
    background-color: white;
    margin: 0;
    padding: 0;
}


/* HEADER CON NAVS */
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header nav:first-child {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

header nav:first-child div {
    display: flex;
    gap: 20px;
}

header nav:nth-child(2) {
    background-color: white;
}

header nav:nth-child(2) img {
    height: 40px;
}

header nav:nth-child(2) ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}


/* SECTION 1*/
section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 40px;
    background-color: #f7f5f3;
}

section:first-child img {
    height: 80vh;
    gap: 40px;
    float: right;
}

section:first-child p {
    font-weight: bold;
    text-decoration: underline;
    font-size: 14px;
    margin-bottom: 10px;
}

section:first-child h2 {
    font-size: 48px;
    line-height: 1.2;
    margin: 20px 0;
}

section:first-child button,
section:first-child a {
    background-color: #ff6347;
    color: #fff;
    padding: 15px 30px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    border: none;
}


/* SECTION 2 */
section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    padding: 40px;
    background-color: white;
    margin: 40px auto;
    max-width: 1200px;
}

section:nth-of-type(2) article:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
section:nth-of-type(2) article:nth-child(2) { grid-area: 1 / 2 / 3 / 3; }
section:nth-of-type(2) article:nth-child(3) { grid-area: 2 / 1 / 4 / 2; }
section:nth-of-type(2) article:nth-child(4) { grid-area: 3 / 2 / 4 / 3; }

section:nth-of-type(2) article {
    position: relative;
    overflow: hidden;
    min-height: 350px;
}

section:nth-of-type(2) article figure {
    position: absolute;
    inset: 0;
    margin: 0;
}

section:nth-of-type(2) article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:nth-of-type(2) article::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55%;
    height: 30%;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1;
}

section:nth-of-type(2) article p,
section:nth-of-type(2) article h3,
section:nth-of-type(2) article a {
    position: absolute;
    left: 30px;
    margin: 0;
    z-index: 2;
}

section:nth-of-type(2) article p {
    bottom: 80px;
    font-size: 12px;
    color: #999;
}

section:nth-of-type(2) article h3 {
    bottom: 45px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

section:nth-of-type(2) article a {
    bottom: 20px;
    color: #ff6347;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}

section:nth-of-type(2) article:nth-child(3)::after,
section:nth-of-type(2) article:nth-child(4)::after {
    left: auto;
    right: 0;
}

section:nth-of-type(2) article:nth-child(3) p,
section:nth-of-type(2) article:nth-child(3) h3,
section:nth-of-type(2) article:nth-child(3) a,
section:nth-of-type(2) article:nth-child(4) p,
section:nth-of-type(2) article:nth-child(4) h3,
section:nth-of-type(2) article:nth-child(4) a {
    left: auto;
    right: 30px;
    text-align: right;
}


/* SECTION 3 */
section:nth-of-type(3) {
    text-align: center;
    background: #fff;
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    padding: 30px;
    align-items: center; 
}

section:nth-of-type(3) article {
    flex: 1;
    padding: 0 20px;
}

section:nth-of-type(3) article:not(:last-child) {
    border-right: 1px solid #e0e0e0;
}


/* SECTION 4 */
section:nth-of-type(4) {
    background: url('./imagenes/section4/modelo hombre.png') no-repeat center center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

section:nth-of-type(4) button { 
    background: transparent;
    color: white;
    border: 2px solid white;
    margin: 20px auto 0 auto;
    display: block;
    padding: 12px 32px;
}

section:nth-of-type(4) h2 { 
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 10px;
}

section:nth-of-type(4) h3 {
    color: white;
    text-align: center;
    font-size: 20px;
}


/* SECTION 5 */
section:nth-of-type(5) {
    text-align: center;
    padding: 30px 0;
    margin: 40px auto;
}

section:nth-of-type(5) h3 {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0 15px 0;
}

section:nth-of-type(5) h4 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

section:nth-of-type(5) h4:last-of-type {
    color: #888;
    font-size: 15px;
    margin: 0 auto;
    max-width: 700px;
    line-height: 1.5;
}

section:nth-of-type(5) ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
}

section:nth-of-type(5) ul li:hover {
    border-bottom: 3px solid #222;
}    


/* SECTION 6 */
.sec6-unificada {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 15px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

section:nth-of-type(6) figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-of-type(6) img {
    width: 100%;
    max-width: 320px;
    margin-bottom: 10px;
}

section:nth-of-type(6) p {
    font-size: 12px;
    color: #888;
    margin: 10px 0 0 0;

}

section:nth-of-type(6) span {
    font-weight: bold;
}

.but-sec6 {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

section:nth-of-type(6) button { 
    background: transparent;
    color: black;
    border: 2px solid black;
    margin: 20px auto;
    padding: 12px 32px;
}

/* SEC 6 FORMULARIO  */
.form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    margin-bottom: 50px;
}

.form-center h2 {
    text-align: center;
}

.form-center {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 50px auto;
}

.form-center h2 {
    text-align: center;
}

.form-center form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
footer{
    background-color: #222;
    color: white;
    padding: 40px 0 0 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

footer aside {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40px;
    min-width: 320px;
    max-width: 400px;
}

footer aside figure:last-of-type img {
    width: 220px;
    margin-top: 10px;
}

/* TABLA FOOTER */
footer table {
    flex: 2 1 600px;
    width: 100%;
    max-width: 700px;
    background: none;
}

footer table th {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 18px;
    text-align: left;
}

footer table td {
    vertical-align: top;
    text-align: left;
    font-size: 15px;
}

footer table ul {
    list-style: none;
    padding: 0;
}

footer table ul li {
    font-size: 15px;
    margin-bottom: 10px;
    color: #ccc;
}


